<div>
    <p>task - add</p>
    <div class="input-group">
      <input type="text" name="myName" ng-model="vm.model.task" class="input-group"></input>
      <button class="btn btn-default" type="button" ng-click="vm.add()">
    <span class="glyphicon glyphicon-plus"></span>
    </div>
</div>
